/* Botão voltar para o topo */

.back-to-top {
  position: fixed;
  display: none;
  background-color: #595959;
  color: #fff;
  padding: 6px 12px 9px 12px;
  font-size: 16px;
  border-radius: 2px;
  right: 100px;
  bottom: 30px;
  transition: background 0.5s;
}

@media (max-width: 768px) {
  .back-to-top {
      bottom: 30px;
  }
}

.back-to-top:focus {
  background-color: #595959;
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  background-color: #33b8e5;
  color: #fff;
}