.button-main {
    border: solid gray 1px;
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    &:hover {
        border: solid black 1px;
        a {
            color: black;
        }
    }
    a {
        color: gray;
        &:hover {
            text-decoration: none;
        }
    }
}