
.card {
  margin: 20px 0 20px 0;
}

 .card img {
  height: 250px;
  max-width: 100%;
}

.card h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 20px;
}

 .card span {
  font-style: italic;
  display: block;
  font-size: 18px;
  padding: 10px 0 0 0;
}

.card .social {
  margin-top: 17px;
  margin-bottom: 17px;
  text-align: center;
}

.card .social a {
  color: #b3b3b3;
}

.card .social a:hover {
  color: #595959;
}

.card .social i {
  font-size: 18px;
  margin: 0 2px;
}

.card .container{
  padding: 20px 16px;
  text-align: center;
}

@media (max-width: 768px) {
  .card img{
   height: 250px;
   
  }
}
@media (max-width: 768px) {
  .card {
      margin: 20px 0 20px 0;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}