#sobre {
    padding: 100px 0;
    .container {
        .background {
            background-image: url('../img/foto_bg_sobre.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 100%;
        }
    }
}
