section#contact.wow.fadeInUp
  .container
    .section-header
      h3.section-title Localização e contato
      p.section-description
        | Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        | accusantium doloremque
  iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31727.846942493186!2d-35.22595483184908!3d-6.26624620971966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7b2879f0e9b84bb%3A0x94aac92d174f98a7!2sGoianinha%2C%20RN%2C%2059173-000!5e0!3m2!1spt-BR!2sbr!4v1573309212861!5m2!1spt-BR!2sbr" width="100%" height="600px" frameborder="0" style="border:0;" allowfullscreen="true")
  br
  br
  .container.wow.fadeInUp
    .row.justify-content-center
      .col-lg-4.col-md-4
        .info
          div
            i.fa.fa-map-marker
            p
              | R. Coronel Miguel Arcanjo Galvão, 1950 - Lagoa Nova - Natal/RN
              br
              | Brasil, BR
          div
            i.fa.fa-envelope
            p wendelleloi2@gmail.com
          div
            i.fa.fa-phone
            p +55 (84) 994578751
          div
            i.fa.fa-phone
            p +55 (84) 994578751
        .social-links
          a.twitter(href='https://www.google.com/search?sxsrf=ACYBGNRV9wYl_-5bvdxyqBM07t5TRDPsFQ%3A1573309159742&ei=58rGXbWELfKz5OUP5b6cwA8&q=wendell+eloi+da+silva&oq=wendell+eloi+da+silva&gs_l=psy-ab.3..33i160.1002.4327..4496...0.6..0.485.4818.2-18j0j1......0....1..gws-wiz.......0i71j35i39j0j0i67j0i131i67j0i131j0i10j0i203j0i10i203.sWVNYHNHLKo&ved=0ahUKEwj1k9qsqd3lAhXyGbkGHWUfB_gQ4dUDCAs&uact=5', target='_blank')
            i.fa.fa-twitter
          a.facebook(href='https://www.facebook.com/wendell.eloidasilva', target='_blank')
            i.fa.fa-facebook
          a.instagram(href='https://www.instagram.com/wendell_eloi/', target='_blank')
            i.fa.fa-instagram
          a.linkedin(href='https://www.linkedin.com/in/wendell-eloi-1a5324168/', target='_blank')
            i.fa.fa-linkedin
        form(action='')
          .input-group.mb-3.newsletter
            h2 Newsletter
            p Cadastre-se e receba nossos informativos
            .input-group-prepend
              button#button-addon1.btn.btn-outline-secondary(type='submit') Enviar
            input.form-control(type='email', placeholder='seu melhor E-mail', aria-label='Newsletter', aria-describedby='Newsletter', required='')
            .container
              label
                input(type='checkbox', checked='false', name='subscribe')
                |  Daily Newsletter
      .col-lg-7.col-md-7
        .form.text-center
          h2 Contato
          #sendmessage Sua mensagem foi enviada. Obrigado!
          #errormessage
          form.contactForm(action='', method='post', role='form')
            .form-group
              input#name.form-control(type='text', name='name', placeholder='Seu nome', data-rule='minlen:4', data-msg='Por favor insira pelo menos 4 caracteres.', required='')
              .validation
            .form-group
              input#email.form-control(type='email', name='email', placeholder='Seu e-mail', data-rule='email', data-msg='Por favor insira um e-mail valido.', required='')
              .validation
            .form-group
              input#telefone.form-control(type='tel', name='telefone', placeholder='Seu telefone', data-rule='email', data-msg='Por favor insira um número de telefone valido.', required='')
              .validation
            .form-group
              input#subject.form-control(type='text', name='subject', placeholder='Assunto', data-rule='minlen:4', data-msg='Por favor insira pelo menos 8 caracteres no assunto.')
              .validation(required='')
            .form-group
              textarea.form-control(name='message', rows='5', data-rule='required', data-msg='Por favor escreva sua mensagem.', placeholder='Mensagem')
              .validation
            #recaptcha-contato
            br
            .text-center
              button(type='submit') Enviar Mensagem
block content
