section#contact.wow.fadeInUp
  .container.wow.fadeInUp
    .row.justify-content-center
      .col-lg-4.col-md-4
        .info
          div
            i.fa.fa-map-marker
            p
              | Nome da sua  - Nome do bairo - Nome da cidade/RN
              br
              | Brasil, BR
          div
            i.fa.fa-envelope
            p SeuEmail@email.com
          div
            i.fa.fa-phone
            p +55 (84) 9999999
        .social-links
          a.twitter(href='https://www.google.com/', target='_blank')
            i.fab.fa-twitter
          a.facebook(href='https://www.facebook.com', target='_blank')
            i.fab.fa-facebook
          a.instagram(href='https://www.instagram.com', target='_blank')
            i.fab.fa-instagram
          a.linkedin(href='https://www.linkedin.com', target='_blank')
            i.fab.fa-linkedin
        form(action='')
          .input-group.mb-3.newsletter
            h2 Newsletter
            p Cadastre-se e receba nossos informativos
            .input-group-prepend
              button#button-addon1.btn.btn-outline-secondary(type='submit') Enviar
            input.form-control(type='email', placeholder='seu melhor E-mail', aria-label='Newsletter', aria-describedby='Newsletter', required='')
            .container
              label
                input(type='checkbox', checked='false', name='subscribe')
                |  Daily Newsletter
      .col-lg-7.col-md-7
        .form.text-center
          h2 Contato
          #sendmessage Sua mensagem foi enviada. Obrigado!
          #errormessage
          form.contactForm(action='', method='post', role='form')
            .form-group
              input#name.form-control(type='text', name='name', placeholder='Seu nome', data-rule='minlen:4', data-msg='Por favor insira pelo menos 4 caracteres.', required='')
              .validation
            .form-group
              input#email.form-control(type='email', name='email', placeholder='Seu e-mail', data-rule='email', data-msg='Por favor insira um e-mail valido.', required='')
              .validation
            .form-group
              input#telefone.form-control(type='tel', name='telefone', placeholder='Seu telefone', data-rule='email', data-msg='Por favor insira um número de telefone valido.', required='')
              .validation
            .form-group
              input#subject.form-control(type='text', name='subject', placeholder='Assunto', data-rule='minlen:4', data-msg='Por favor insira pelo menos 8 caracteres no assunto.')
              .validation(required='')
            .form-group
              textarea.form-control(name='message', rows='5', data-rule='required', data-msg='Por favor escreva sua mensagem.', placeholder='Mensagem')
              .validation
            #recaptcha-contato
            br
            .text-center
              button(type='submit') Enviar Mensagem
block content
