head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
  meta(http-equiv="X-UA-Compatible" content="ie=edge")
  title My Blog
  link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.min.css', type='text/css')
  link(rel='stylesheet', href='/css/style.css', type='text/css')
  link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.4.1/css/all.css' integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous", type='text/css')
  link(rel='stylesheet', href='/lib/font-awesome/css/font-awesome.css', type='text/css')
  link(rel='stylesheet', href='/lib/animate/animate.css', type='text/css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css', type='text/css')
body
  .container
    block content