
#nav-menu-container-top
  ul.nav-menu-top
    li
      a.btn-calcule-nav(href='http://gnucleus.com.br/', target='_blank') Calcule sua parcela
    li
      a.btn-zap-nav(href='http://api.whatsapp.com/send?1=pt_BR&phone=5500000000000', target='_blank')
        i.fab.fa-whatsapp
nav#nav-menu-container
  ul.nav-menu
    li.menu-active
      a(href='#cab') Início
    li.menu-has-children
      a(href='#sobre') Quem somos
      ul
        li
          a(href='#depoimentos') Depoimentos
        li
          a(href='#team') Equipe
        li
          a(href='#parceiros') Parceiros e Clientes
        li
          a(href='#apoio') Apoio e convênios
        li
          a(href='#noticias') Notícias
    li.menu-has-children
      a(href='#perfil-representantes') Perfil de representantes
      ul
        li
          a.modBtn1(href='#') Seja um representante
    li
      a(href='#services') Áreas de atuação
    li
      a(href='#contact') Localização e contato
block content


