// The overlay
#myNav.overlay
  // Button to close the overlay navigation
  a.closebtn(href='javascript:void(0)' onclick='closeNav()') &times;
  // Overlay content
  .overlay-content
    a(href='#') Início
    a(href='#sobre') Sobre Nós
    a(href='#galeria') Galeria
    a(href='#localizacao') Localização
    a(href="#team") Time
    a(href='#contact') Contato
    .dropdown#paletas
      button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
        | Paletas
      .dropdown-menu(aria-labelledby='dropdownMenuButton')
        a.dropdown-item.paleta(href='#' onclick='paleta("verde")') Paleta verde
        a.dropdown-item.paleta(href='#' onclick='paleta("azul")') Paleta azul
.overlay-nav.scroll-overlay
  span(onclick='openNav()').button-overlay
    i.fas.fa-bars
// default nav
nav#defalt-nav.navbar.navbar-expand-lg.navbar-light
 .collapse.navbar-collapse
    a.navbar-brand(href='#') LOGO
    ul.navbar-nav
      li.nav-item.active
        a.nav-link(href='#')
          | Início
      li.nav-item.active
        a.nav-link(href='#sobre')
          | Sobre Nós
      li.nav-item.active
        a.nav-link(href='#galeria')
          | Galeria
      li.nav-item.active
        a.nav-link(href='#localizacao')
          | localização
      li.nav-item.active
        a.nav-link(href='#team')
          | Time
      li.nav-item.active
        a.nav-link(href='#contact')
          | Contato
      li.nav-item
        .dropdown#paletas
            button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
              | Paletas
            .dropdown-menu(aria-labelledby='dropdownMenuButton')
              a.dropdown-item.paleta(href='#' onclick='paleta("verde")') Paleta verde
              a.dropdown-item.paleta(href='#' onclick='paleta("azul")') Paleta azul
      li.nav-item
         .button-main
            a(href="#" title="") (84) 99499-9999
block content


