section#sobre(style="padding-top:100px;")
  .container
    .row.sobre-container
      .col-lg-6.content.order-lg-1.order-2
        .wow.fadeInUp(data-wow-duration='.3', data-wow-delay='.3s')
          h2.titulo Conheça sobre nós
          p
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus provident repudiandae debitis                                accusamus ab quisquam quos, magni voluptatibus ad sapiente sed a nulla corrupti dolor aliquid
            | non necessitatibus architecto veniam laudantium. Delectus dignissimos veritatis beatae?
          .icon-box.wow.fadeInUp(data-wow-duration='.3', data-wow-delay='.3s')
            .icon
              i.fa.fa-shopping-bag
            h4.title
              a(href='') Eiusmod Tempor
            p.description
              | Et harum quidem rerum facilis est et expedita distinctio. Nam libero
              | tempore, cum soluta nobis est eligendi
          .icon-box.wow.fadeInLeft(data-wow-duration='.3', data-wow-delay='.3s')
            .icon
              i.fa.fa-photo
            h4.title
              a(href='#') Lorem ipsum.
            p.description
              | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              | officia deserunt mollit anim id est laborum
          .icon-box.wow.fadeInUp(data-wow-delay='0.4s')
            .icon
              i.fa.fa-bar-chart
            h4.title
              a(href='') Dolor Sitema
            p.description
              | Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
              | ex ea commodo consequat tarad limino ata
          a.btn-calcule(href='outraPagina.html', target='_blank') Clique para ir para a outra página
      .col-lg-6.background.order-lg-2.order-1.wow.fadeInRight
block content