section#team
  .container.wow.fadeInUp
    .section-header
      h3.section-title Equipe
      p.section-description
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe aliquid
        | error vero optio, voluptate facere.
    .row.wow.fadeInUp(data-wow-duration='.3', data-wow-delay='.3s')
      .col-lg-4.col-md-6
        .card
          img(src='img/castelo.jpg', alt='')
          .container
            h4
              b John Doe
            span Lorem ipsum dolor.
          .social
            a(href='#')
              i.fab.fa-twitter
            a(href='#')
              i.fab.fa-facebook
            a(href='#')
              i.fab.fa-linkedin
      .col-lg-4.col-md-6
        .card
          img(src='img/castelo.jpg', alt='')
          .container
            h4
              b John Doe
            span Lorem ipsum dolor.
          .social
            a(href='#')
              i.fab.fa-twitter
            a(href='#')
              i.fab.fa-facebook
            a(href='#')
              i.fab.fa-linkedin
      .col-lg-4.col-md-6
        .card
          img(src='img/castelo.jpg', alt='')
          .container
            h4
              b John Doe
            span Lorem ipsum dolor.
          .social
            a(href='#')
              i.fab.fa-twitter
            a(href='#')
              i.fab.fa-facebook
            a(href='#')
              i.fab.fa-linkedin
block content
