doctype html
html(lang="pt-br") 
  include components/header.pug
  body#cab
    include components/navbar.pug
    //- include components/hero.pug
    include components/sobre.pug
    include components/contato.pug
    include components/footer.pug